<div data-role="view" data-title="Add" data-model="app.siniestro.addItemViewModel" data-bind="events: { show: onShow }" id="siniestroModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span>Reportar Siniestro</span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <!--             <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a> -->
        </div>
    </header>
    <!-- START_CUSTOM_CODE_siniestroModel -->
    <!-- END_CUSTOM_CODE_siniestroModel -->
    <div id="editableListForm2" class="form-view">
        <div id="divmap"></div>
        <div id="map"></div>
        <a id="setLatLong" style="position: absolute;z-index: 9999999;bottom: 0px;" data-role="button" data-bind="events: { click: setLatLong }">Reportar Siniestro</a>
        <form id="formAddSiniestro">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Tipo</span> 
                        <select id="tipo" data-bind="value: addFormData.tipo">
                            <option selected>Mecánico</option>
                            <option>Grua</option>
                            <option>Robo Parcial</option>
                            <option>Robo Total</option>
                            <option>Choque</option>
                            <option>Choque atropello</option>
                        </select>
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Vehículo</span>
                        <select id="vehiculo" data-bind="value: addFormData.vehiculo"></select>
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Latitud</span>

                        <input id="latitud" data-bind="value: addFormData.latitud" placeholder="Latitud" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Longitud</span>

                        <input id="longitud" data-bind="value: addFormData.longitud" placeholder="Longitud" type="text">
                    </label>
                </li>
                </br>
                </br>
                    <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Confirmar Reporte</a>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm2 -->
        <!-- END_CUSTOM_CODE_editableListForm2 -->
    </div>
</div>