<div data-role="view" data-title="Details" data-model="app.siniestro.siniestroModel" data-bind="events: { show: detailsShow }" id="siniestroModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span>Detalle de la Asistencia</span>
        </div>
    </header>
    <div class="details-content">
        <div id="detalle-siniestro" class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li>
                    <span>Modelo:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.modelo"></h3>
                </li>
                <li>
                    <span>Placa:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.placa"></h3>
                </li>
                <li>
                    <span>Poliza:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.poliza"></h3>
                </li>
                <li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Aseguradora</div>
                        <div id="aseguradoraExpanded" data-bind="html: currentItem.vehiculoExpanded.aseguradora"></div>
                    </div>
                </li>
                <li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Asesor</div>
                        <div id="brookerExpanded" data-bind="html: currentItem.vehiculoExpanded.brooker"></div>
                    </div>
                </li>
                <li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Fecha de reporte</div>
                        <div id="fcha-reporte" data-bind="html: currentItem.CreatedAt"></div>
                    </div>
                </li>
                <li class="detail-content-item"  style="text-align:center; height: 80px !important;" onclick="MakeCall($('#numeroLlamada').text())">
                    <div id="btn-llamar" class="editableListItem"  style="text-align:center;">
                        <div id="numeroLlamada" style="display:none;" data-bind="html: currentItem.numero"></div>
                        <img src="styles/phone.png"></img>
                    	<span style="color: white !important;
    font-weight: normal;
    width: 60% !important;
    float: left !important;
    margin: 0 !important;
    padding: 15px !important;">Llamar</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>