<div data-role="view" data-title="Details" data-model="app.siniestro.siniestroModel" data-bind="events: { show: setCurrentItemCreated }" id="siniestroModelDetailsCreated">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span>Detalle del Siniestro</span>
        </div>
    </header>
    <div class="details-content">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li>
                    Marca:
                    <h3 data-bind="text: currentItem.vehiculoExpanded.marca"></h3>
                </li>
                <li>
                    Modelo:
                    <h3 data-bind="text: currentItem.vehiculoExpanded.modelo"></h3>
                </li>
                <li>
                    Placa:
                    <h3 data-bind="text: currentItem.vehiculoExpanded.placa"></h3>
                </li>
                <li>
                    Año:
                    <h3 data-bind="text: currentItem.vehiculoExpanded.anio"></h3>
                </li>
                <li>
                    Poliza:
                    <h3 data-bind="text: currentItem.vehiculoExpanded.poliza"></h3>
                </li>
                <li>
                    Vip:
                    <h3 data-bind="text: currentItem.vehiculoExpanded.vip"></h3>
                </li>
                <li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Aseguradora</div>
                        <div id="aseguradoraExpandedCreated" data-bind="html: currentItem.vehiculoExpanded.aseguradora"></div>
                    </div>
                </li>
                <li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Asesor</div>
                        <div id="brookerExpandedCreated" data-bind="html: currentItem.vehiculoExpanded.brooker"></div>
                    </div>
                </li>
                <li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Fecha de reporte</div>
                        <div data-bind="html: currentItem.CreatedAt"></div>
                    </div>
                </li>
                <li class="detail-content-item"  style="text-align:center;" onclick="MakeCall($('#numeroLlamadaCreated').text())">
                    <div class="editableListItem"  style="text-align:center;">
                        <div id="numeroLlamadaCreated" style="display:none;" data-bind="html: currentItem.numero"></div>
                        <img src="styles/phone.png"></img>
                    	<h3>Llamar</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_siniestroModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_siniestroModel -->
</div>