<div data-role="view" data-title="Details" data-model="app.siniestro.siniestroModel" data-bind="events: { show: setCurrentItemCreated }" id="siniestroModelDetailsCreated">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span>Detalle del Asistencia</span>
        </div>
    </header>
    <div class="details-content"> 
        <div id="detalle-siniestro-generado" class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li>
                    <span>Titular:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.nombre"></h3>
                </li>
                <li>
                    <span>Marca:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.marca"></h3>
                </li>
                <li>
                    <span>Modelo:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.modelo"></h3>
                </li>
                <li>
                    <span>Color:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.color"></h3>
                </li>
                <li>
                    <span>Placa:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.placa"></h3>
                </li>   
                <li>
                    <span>Año:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.anio"></h3>
                </li>
                <li>
                    <span>Poliza:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.poliza"></h3>
                </li>
                <!--li>
                    <span>VIP:</span>
                    <h3 data-bind="text: currentItem.vehiculoExpanded.vip"></h3>
                </li-->
                <li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Aseguradora</div>
                        <div id="aseguradoraExpandedCreated" data-bind="html: currentItem.vehiculoExpanded.aseguradora"></div>
                    </div>
                </li>
                <li class="detail-content-item" style="display:none;">
                    <div class="editableListItem">
                        <div>Asesor</div>
                        <div id="brookerExpandedCreated" data-bind="html: currentItem.vehiculoExpanded.brooker"></div>
                    </div> 
                </li>
                <li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Número</div>
                        <div id="brookerExpandedCreated" data-bind="html: currentItem.numero"></div>
                        <div id="brookerExpandedCreated" data-bind="html: currentItem.vehiculoExpanded.vip"></div>
                    </div>
                </li>
                <!--li class="detail-content-item">
                    <div class="editableListItem">
                        <div>Fecha de reporte</div>
                        <div id="fch-creacion" data-bind="html: currentItem.CreatedAt"></div>
                    </div>
                </li--> 
                <li class="detail-content-item"  style="text-align:center; height: 80px !important;" onclick="MakeCall($('#numeroLlamadaCreated').text())">
                    <div id="btn-llamar" class="editableListItem"  style="text-align:center;">
                        <div id="numeroLlamadaCreated" style="display:none;" data-bind="html: currentItem.numero"></div>
                        <img src="styles/phone.png"></img>
                    	<span class="btnLlamar">Llamar</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_siniestroModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_siniestroModel -->
</div>