<div id="siniestroView" data-role="view" data-title="Historial" data-layout="main" data-model="app.siniestro" data-show="app.siniestro.onShow" data-after-show="app.siniestro.afterShow">
    <!-- START_CUSTOM_CODE_siniestro -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_siniestro -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" class="backButtonWrapper" style="display: none;">Back</a>
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
<!--             <a data-role="button" data-align="right" data-bind="events: { click: siniestroModel.addClick }">Add</a> -->
        </div>
    </header>
    <!--     data-bind="{ events: {click: siniestroModel.itemClick} }" -->
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="siniestroModelTemplate" data-bind="{ source: siniestroModel.dataSource, events: {click: siniestroModel.itemClick} }" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_siniestroModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_siniestroModel -->
    <script type="text/x-kendo-template" id="siniestroModelTemplate">
        <div class="image-with-text">
            # data = app.siniestro.siniestroModel.fixHierarchicalData(data); # # if (data['tipoExpanded']) {#
            <h3>#: data['tipoExpanded'].nombre # - #: data['tipoExpanded'].categoria #</h3> #}# # if (data['vehiculoExpanded']) { #
            <p>#: data['vehiculoExpanded'].placa #</p>
            # } #
        </div>
    </script>
</div>