<div data-role="view" data-title="Add" data-model="app.vehiculo.addItemViewModel" data-bind="events: { show: onShow }" id="vehiculoModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span>Agregar Vehiculo</span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_vehiculoModel -->
    <!-- END_CUSTOM_CODE_vehiculoModel -->
    <div id="editableListForm21" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Marca</span>

                        <input id="marcaAdd" data-bind="value: addFormData.marcaAdd" placeholder="Marca del vehículo" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Modelo</span>

                        <input id="modelo" data-bind="value: addFormData.modelo" placeholder="Modelo del vehículo" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Color</span>

                        <input id="color" data-bind="value: addFormData.color" placeholder="Color del vehículo" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Año</span>

                        <input id="anioAdd" data-bind="value: addFormData.anioAdd" placeholder="Año del vehículo" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Placa</span>

                        <input id="placa" data-bind="value: addFormData.placa" placeholder="Placa del vehículo" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Aseguradora</span>

                        <select id="aseguradoraAdd" data-bind="value: addFormData.aseguradoraAdd"></select> 
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Asesor</span>

                        <select id="brookerAdd" data-bind="value: addFormData.brookerAdd"></select>
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Número de poliza</span>

                        <input id="polizaAdd" data-bind="value: addFormData.polizaAdd" placeholder="Número de póliza" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        
                        <ul  data-role="buttongroup" id="vipAdd" data-index="0">
                            <li>Cliente Standar</li>
                            <li>Cliente Vip</li>
                        </ul>
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm21 -->
        <!-- END_CUSTOM_CODE_editableListForm21 -->
    </div>
</div>