<div data-role="view" data-title="Mis Vehículos" data-layout="main" data-model="app.consulta" data-show="app.consulta.onShow" data-after-show="app.consulta.afterShow">
    <!-- START_CUSTOM_CODE_consulta -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_consulta -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" class="backButtonWrapper" style="display: none;">Back</a>
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-bind="events: { click: consultaModel.addClick }">Agregar</a>
        </div>
    </header>
    <ul id="masterDetailViewLocal" class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-bind="{ events: {click: consultaModel.itemClick} }"  data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
<!--     <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="consultaModelTemplate" data-bind="{ source: consultaModel.dataSource, events: {click: consultaModel.itemClick} }" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul> -->
    <script type="text/x-kendo-template" id="consultaModelTemplate">
        <div class="image-with-text">
            # data = app.consulta.consultaModel.fixHierarchicalData(data); #
            <h3>#: data['placa'] #</h3>
            <p>#: data['marca'] # - #: data['modelo'] #</p>
        </div>
    </script>
</div>
<div data-role="modalview" data-model="app.consulta.consultaModel" id="modalview-alert-consulta" style="width: 70%;height: 230px;" data-modal="false">
    <div data-role="header">
        <div data-role="navbar">
            <span>Buscar</span>
        </div>
    </div>
    <ul data-role="listview" data-style="inset">
        <li id="contentAlertConsulta" class="form-content-item" style="text-align: center;"></li>
    </ul>
    <form>
        <ul class="form-content" data-role="listview" data-style="inset">
            <li class="form-content-item">
                <label class="km-label-above">
                     <input id="consultaAdd" style="text-align: center;" placeholder="Placa" type="text">
                </label>
            </li>
        	</br>
            <a data-role="button" style="display: block;" data-bind="events: { click: onSelectClick }">Consultar</a>
        </ul>
    </form>
</div>